@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Slabo 27px', serif;
    font-weight: 500;
    

}

li{
    list-style: none;

}
a {
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background:  rgb(216, 210, 210);
}

#logo{
    color: red;
    
}

nav li {
    display: inline-flex;
    padding: 0 20px;
    font-size: 1.1em;
}

nav li a:hover {
    color: red;

}

.showcase-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(./Pic/draft2020.jpg) no-repeat center;
    background-size: cover;
    color: white;


}

.showcase-container:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .95;
    z-index: 0;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.showcase-container > *{
    z-index: 10;
    position: relative;
}


.showcase-text{
    text-align: center;
    padding-top: 150px;
    font-size: 2.5em;
}

.why {
    background:  rgb(216, 210, 210);
    text-align: center;
        margin: 0;
        padding-top: 70px;
        align-items: center;

}

.part-group{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 70px 0px;
    text-align: center;
    font-size: 1em;
    margin: auto;
    flex-wrap: wrap;
}
.part{
    width: 300px;
    text-align: center;
    
}

#oo{
    font-size: 2em;
}

#bang{
    padding: 25px 0;
    color: red;
    font-size: 2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      /* flex: 50%;
      max-width: 50%; */
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      /* flex: 100%;
      max-width: 100%; */
    }
  }

  nav li  {
    display: flex;
  

}